{% extends "base.html" %}

{% block title %}{{ block.super }} - {{ slug|capfirst }}{% endblock %}

{% block body-id %}{{ slug|slugify }}{% endblock %}

{% block content%}
        <div class="page-header">

            {% if user.is_authenticated %}
                <h2>Halo {{ user.username }}!</h2>
            {% else %}
                <h2>Halo pengunjung!</h2>
            {% endif %}

            <h1>Selamat Datang di Sistem Informasi Manajemen Surat (Dokumen)</h1>
        </div>
         <div class="well">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
{% endblock %}
