{% extends "base.html" %}

{% block title %}{{ block.super }} - {{ slug|capfirst }}{% endblock %}

{% block body-id %}{{ slug|slugify }}{% endblock %}

{% block content%}
        <div class="page-header">

            {% if user.is_authenticated %}
                <h2>Halo {{ user.username }}!</h2>
            {% else %}
                <h2>Halo pengunjung!</h2>
            {% endif %}

            <h1>Selamat Datang di Sistem Informasi Manajemen Surat (Dokumen)</h1>
        </div>
         <div class="well">
            <p>
                Simansur adalah aplikasi untuk melakukan manajemen surat masuk di Universitas Indonesia.
                Aplikasi ini dibuat untuk memudahkan staf Universitas Indonesia dalam distribusi pengiriman maupun disposisi surat secara elektronik.
            </p>
        </div>
{% endblock %}
