{% extends "base.html" %}

{% block title %}{{ block.super }} - {{ slug|capfirst }}{% endblock %}

{% block body-id %}{{ slug|slugify }}{% endblock %}

{% block content%}
        <div class="page-header">
            <h1>Daftar User</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% if aktivitas_user %}

              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Timestamp</th>
                    <th>User</th>
                    <th>Aktivitas</th>
                  </tr>
                </thead>
                <tbody>
                {% for aktivitas in aktivitas_user %}
                  <tr>
                    <td>{{ forloop.counter|add:jumlah_data_sebelumnya }}</td>
                    <td>{{ aktivitas.tanggal }}</td>
                    <td>{{ aktivitas.user.username }}</td>
                    <td>{{ aktivitas.aktivitas }}</td>
                  </tr>
                {% endfor %}

                </tbody>
              </table>

              <div class="pagination">
                    <span class="step-links">
                        {% if aktivitas_user.has_previous %}
                            <a href="?page={{ aktivitas_user.previous_page_number }}"> Sebelumnya </a>
                        {% endif %}

                        <span class="current">
                            Halaman {{ aktivitas_user.number }} dari {{ aktivitas_user.paginator.num_pages }} halaman.
                        </span>

                        {% if aktivitas_user.has_next %}
                            <a href="?page={{ aktivitas_user.next_page_number }}"> Berikutnya </a>
                        {% endif %}
                    </span>
              </div>

                {% else %}
                 <p>
                     Tidak ada aktivitas.
                 </p>

                {% endif %}
            </div>
        </div>

{% endblock %}
