{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ block.super }} - {{ slug|capfirst }}{% endblock %}

{% block body-id %}{{ slug|slugify }}{% endblock %}

{% block content%}
        <div class="page-header">
            <h2>Form Pencarian Statistik</h2>
        </div>

        <div class="row">
            <div class="col-md-12">

                <form class="form-horizontal" role="form" id="statistik_form" method="post" action="/statistik/">

                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}

                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.help_text }}
                        <label class="control-label col-sm-2">{{ field.label }} </label>
                        <div class="col-sm-10"> {{ field }} </div>
                    </div>
                {% endfor %}

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <input type="submit" name="submit" value="Lihat Statistik" />
                    </div>
                </div>

                </form>

            </div>
        </div>

        <div class="page-header">
            <h1>Statistik Surat</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ data_statistik_surat }}
            </div>
        </div>

        <div class="page-header">
            <h1>Grafik Statistik Surat Tahun {{ tahun }}</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
                <canvas id="statsChart" width="500" height="300"></canvas>
            </div>
        </div>

{% endblock %}

{% block js %}
    <script src="{% static 'js/Chart.min.js' %}"></script>

    <script type="text/javascript">
        $( document ).ready(function() {
            var data = {
                labels: ['januari', 'februari', 'maret', 'april', 'mei', 'juni', 'juli', 'agustus', 'september', 'oktober', 'november', 'desember'],
                datasets: [
                    {
                        label: "Statistik Jumlah Surat Tahunan",
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data: {{ data_chart }}
                    }
                ]
            };
            var ctx = document.getElementById("statsChart").getContext("2d");
            var myLineChart = new Chart(ctx).Line(data);
        });
    </script>
{% endblock %}