{% extends "base.html" %}

{% block title %}{{ block.super }} - {{ slug|capfirst }}{% endblock %}

{% block body-id %}{{ slug|slugify }}{% endblock %}

{% block content%}
        <div class="page-header">
            <h1>Form Pencarian Label Surat</h1>
        </div>

        <div class="row">
            <div class="col-md-12">

                <form class="form-horizontal" role="form" id="cari_surat_form" method="post" action="/surat/">

                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}

                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.help_text }}

                        <label class="control-label col-sm-2">{{ field.label }} </label>
                        <span> {{ field }} </span>
                        <span><input type="submit" name="submit" value="Cari Surat" /></span>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-2">&nbsp;</div>
                        <span>Tips: Kosongkan kata kunci untuk mencari semua surat. Kata kunci diambil dari nomor surat atau perihal.</span>
                    </div>
                {% endfor %}

                </form>
            </div>
        </div>

        <div class="row page-header">
            <div class="col-md-10">
                <h1>Daftar Label Surat</h1>
            </div>

            {% if perms.MainApp.add_surat %}
            <div class="col-md-2">
                <h1>
                    <a href="{% url 'surat_tambah' %}">
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"> Label Surat</span>
                        </button>
                    </a>
                </h1>
            </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-md-12">

                {% if semua_surat %}

              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Tanggal Surat</th>
                    <th>No Surat</th>
                    <th>No Agenda</th>
                    <th>Perihal</th>
                    <th>Pengirim</th>
                    <th>Tingkat Kepentingan</th>
                    <th>Status Surat</th>
                    <th>Aksi


                    </th>
                  </tr>
                </thead>
                <tbody>

                {% for surat in semua_surat %}

                  <tr>
                    <td>{{ forloop.counter|add:jumlah_data_sebelumnya }}</td>
                    <td>{{ surat.tanggal_surat_masuk }}</td>
                    <td>{{ surat.no_surat }}</td>
                    <td>{{ surat.no_agenda }}</td>
                    <td>{{ surat.perihal }}</td>
                    <td>{{ surat.pengirim_surat_fisik }}</td>
                    <td>{{ surat.tingkat_kepentingan }}</td>
                    <td>{{ surat.status }}</td>
                    <td>
                        <a href="/surat/{{ surat.no_surat }}">
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                        </button>
                        </a>

                        {% if perms.MainApp.change_surat and surat.status == 'dilabeli' %}
                        <a href="/surat_edit/{{ surat.no_surat }}">
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        </a>
                        {% endif %}

                        {% if perms.MainApp.delete_surat and surat.status == 'dilabeli' %}
                        <a href="/surat_delete/{{ surat.no_surat }}" onclick="return confirm('Apakah anda yakin ingin menghapus surat no {{ surat.no_surat }} ?');">
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                        </a>
                        {% endif %}

                        {% if surat.status == 'dilabeli' %}
                        <a href="/surat_kirim/{{ surat.no_surat }}" >
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        </button>
                        </a>
                        {% endif %}

                        {% if surat.status != 'dilabeli' %}
                        <a href="/track_surat/{{ surat.no_surat }}/" >
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon glyphicon-share" aria-hidden="true"></span>
                        </button>
                        </a>
                        {% endif %}

                    </td>
                  </tr>

                  {% endfor %}

                </tbody>
              </table>

              <div class="pagination">
                    <span class="step-links">
                        {% if semua_surat.has_previous %}
                            <a href="?page={{ semua_surat.previous_page_number }}"> Sebelumnya </a>
                        {% endif %}

                        <span class="current">
                            Halaman {{ semua_surat.number }} dari {{ semua_surat.paginator.num_pages }} halaman.
                        </span>

                        {% if semua_surat.has_next %}
                            <a href="?page={{ semua_surat.next_page_number }}"> Berikutnya </a>
                        {% endif %}
                    </span>
              </div>

                {% else %}
                    <p>Tidak ada data label surat.</p>
                    <p>
                        {% if perms.MainApp.add_surat %}
                        <a href="{% url 'surat_tambah' %}">
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"> Label Surat Baru</span>
                        </button>
                        </a>
                        {% endif %}
                    </p>
                {% endif %}

            </div>
        </div>





{% endblock %}
