{% extends "base.html" %}

{% block title %}{{ block.super }} - {{ slug|capfirst }}{% endblock %}

{% block body-id %}{{ slug|slugify }}{% endblock %}

{% block content%}
        <div class="page-header">
            <h1>Daftar Surat</h1>
        </div>

        <div class="row">
            <div class="col-md-12">

                {% if semua_surat %}

              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Tanggal Surat</th>
                    <th>No Surat</th>
                    <th>No Agenda</th>
                    <th>Perihal</th>
                    <th>Pengirim</th>
                    <th>Tingkat Kepentingan</th>
                    <th>Status Surat</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
                <tbody>

                {% for surat in semua_surat %}

                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ surat.tanggal_surat_masuk }}</td>
                    <td>{{ surat.no_surat }}</td>
                    <td>{{ surat.no_agenda }}</td>
                    <td>{{ surat.perihal }}</td>
                    <td>{{ surat.pengirim_surat_fisik }}</td>
                    <td>{{ surat.tingkat_kepentingan }}</td>
                    <td>{{ surat.status }}</td>
                    <td>
                        <a href="/surat/{{ surat.no_surat }}">
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                        </button>
                        </a>

                        {% if perms.MainApp.add_surat %}
                        <a href="{% url 'surat_tambah' %}">
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                        </a>
                        {% endif %}

                        {% if perms.MainApp.change_surat and surat.status == 'dilabeli' %}
                        <a href="/surat_edit/{{ surat.no_surat }}">
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        </a>
                        {% endif %}

                        {% if perms.MainApp.delete_surat and surat.status == 'dilabeli' %}
                        <a href="/surat_delete/{{ surat.no_surat }}" onclick="return confirm('Apakah anda yakin ingin menghapus surat no {{ surat.no_surat }} ?');">
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                        </a>
                        {% endif %}

                        {% if surat.status == 'dilabeli' %}
                        <a href="/surat_kirim/{{ surat.no_surat }}" >
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        </button>
                        </a>
                        {% endif %}

                        {% if surat.status != 'dilabeli' %}
                        <a href="/track_surat/{{ surat.no_surat }}/" >
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon glyphicon-share" aria-hidden="true"></span>
                        </button>
                        </a>
                        {% endif %}

                    </td>
                  </tr>

                  {% endfor %}

                </tbody>
              </table>

                {% else %}
                    <p>Tidak ada surat di kotak surat</p>
                    <p>
                        {% if perms.MainApp.add_surat %}
                        <a href="{% url 'surat_tambah' %}">
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"> Label Surat Baru</span>
                        </button>
                        </a>
                        {% endif %}
                    </p>
                {% endif %}

            </div>
        </div>





{% endblock %}
