<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block title %}SIMANSUR - Sistem Manajemen Surat{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/site.css' %}">
    </head>

    <body role="document" id="{% block body-id %}body{% endblock %}">
        {% block alert %}
            {% if alert_type == "success" %}
                <div class="alert alert-success alert-dismissible text-center" role="alert">
                    {{ alert_message }}
                </div>
            {% elif alert_type == "info" %}
                <div class="alert alert-info alert-dismissible text-center" role="alert">
                    {{ alert_message }}
                </div>
            {% elif alert_type == "warning" %}
                <div class="alert alert-warning alert-dismissible text-center" role="alert">
                    {{ alert_message }}
                </div>
            {% elif alert_type == "danger" %}
                <div class="alert alert-danger alert-dismissible text-center" role="alert">
                    {{ alert_message }}
                </div>
            {% else %}

            {% endif %}
        {% endblock %}

        {% block jumbotron %}
        <div class="page-header text-center">
            <h1>Sistem Manajemen Surat</h1>
        </div>
        {% endblock %}

        {% block nav-wrapper %}
         <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse">
          <div class="container ">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'home' %}">SIMANSUR</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="{{ page_home_active }}"><a href="{% url 'home' %}">Home</a></li>

                {% if user.is_authenticated %}
                <li class="{{ page_surat_pengguna_active }}"><a href="{% url 'surat_pengguna' %}">Kotak Masuk</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Surat <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="{{ page_surat_active }}"><a href="{% url 'surat' %}">Label Surat</a></li>
                    <li class="{{ page_statistic_surat_active }}"><a href="{% url 'statistik' %}">Lihat Statistik</a></li>
                  </ul>
                </li>

                  {% if user.is_superuser %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="{{ page_user_active }}"><a href="{% url 'user' %}">User</a></li>
                    <li class="{{ page_aktivitas_active }}"><a href="{% url 'aktivitas' %}">Aktivitas</a></li>
                  </ul>
                </li>
                    {% endif %}

                {% endif %}

                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li class="{{ page_login_active }}"><a href="{% url 'login' %}">Login</a></li>
                {% endif %}



              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
        {% endblock %}

        {% block content %}

        {% endblock %}


        {% block footer %}
        <div class="col-md-8">
            <footer class="footer navbar-fixed-bottom">
              <div class="container text-center">
                <p class="text-muted">Footer</p>
              </div>
            </footer>
        </div>
        {% endblock%}

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>
